{{extend 'dashboard.html'}}
<div class="mt-4">
    <div class="col-12">
        <h2>
            Practicantes del proyecto: <small>"{{=current_project.name}}"</small>
        </h2>
    </div>
    <div class="col-12">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="#setuptab" data-toggle="tab">Otros periodos</a></li>
                {{for item in periods_before:}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{=URL(vars=dict(year_period=item.id, project=current_project.id))}}">
                            {{if item.period == cpfecys.first_period.id:}}
                                {{=f'{item.yearp} - {T(cpfecys.first_period_name)}'}}
                            {{else:}}
                                {{=f'{item.yearp} - {T(cpfecys.second_period_name)}'}}
                            {{pass}}
                        </a>
                    </li>
                {{pass}}
                <li class="nav-item">
                    <a class="nav-link active" href="#data{{=currentyear_period.id}}" data-toggle="tab">
                        {{=f'{currentyear_period.yearp} - {current_period_name}'}}
                    </a>
                </li>
                {{for item in periods_after:}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{=URL(vars=dict(year_period=item.id, project=current_project.id))}}">
                            {{if item.period == cpfecys.first_period.id:}}
                                {{=f'{item.yearp} - {T(cpfecys.first_period_name)}'}}
                            {{else:}}
                                {{=f'{item.yearp} - {T(cpfecys.second_period_name)}'}}
                            {{pass}}
                        </a>
                    </li>
                {{pass}}
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="setuptab">
                    <form>
                        <select name="year_period" class="form-control">
                            {{for item in other_periods:}}
                                {{if item.period == cpfecys.first_period.id:}}
                                    <option value="{{=item.id}}">{{=f'{item.yearp} - {T(cpfecys.first_period_name)}'}}</option>
                                {{else:}}
                                    <option value="{{=item.id}}">{{=f'{item.yearp} - {T(cpfecys.second_period_name)}'}}</option>
                                {{pass}}
                            {{pass}}
                        </select>
                        <input type="submit" value="Ir" class="btn btn-primary">
                    </form>
                </div>
                <div class="mt-4 tab-pane active" id="data{{=currentyear_period.id}}">
                    <h2>Progreso del curso</h2>
                    <!-- I need All reports that belong to this semester and course. Arrange them by owner. Display them -->
                    {{categories = []}}
                    {{for item in current_reports:}}
                        {{itm = item.report.report_restriction}}
                        {{if itm not in categories:}}
                            {{categories.append(itm)}}
                        {{pass}}
                    {{pass}}
                    <div id="course-progress">    
                        {{inc_vars = dict(
                                        id='chart01',
                                        categories_title='Estudiantes en el curso',
                                        categories_subtitle=current_project.name,
                                        categories=categories,
                                        category_display=lambda x: x.name,
                                        values=current_reports,
                                        values_display=values_display,
                                        values_title='Estudiantes'
                                    )
                        }}
                        <div class="mt-4">
                            {{include 'include/display-line-chart.html'}}
                        </div>
                        <!-- -->
                        {{categories = []}}
                        {{for item in report_activities:}}
                            {{itm = f'{item.log_metrics.metrics_type.name}:{item.log_metrics.created}'}}
                            {{if itm not in categories:}}
                                {{categories.append(itm)}}
                            {{pass}}
                        {{pass}}
                        <!-- -->
                        {{inc_vars = dict(
                                        id='chart02',
                                        categories_title='Actividades durante el curso',
                                        categories_subtitle=current_project.name,
                                        categories=categories,
                                        category_display=lambda x: x,
                                        values=report_activities,
                                        values_display=values_display_activities,
                                        values_title='Nota promedio'
                                    )
                        }}
                        <div class="mt-4">
                            {{include 'include/display-line-chart.html'}}
                        </div>
                    </div>
                    <div class="mt-4" style="width:100%" id="graphbars"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{=URL('static','js')}}/highcharts-10.3.3/code/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts-10.3.3/code/modules/data.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts-10.3.3/code/modules/exporting.js"></script>
<script type="text/javascript">
    $(function () {
        new Highcharts.Chart({
            chart: {
                renderTo: 'graphbars',
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: 'Promedio del curso y laboratorio'
            },
            subtitle: {
                text: '{{=current_project.name}}',
                x: -20
            },
            xAxis: {
                categories: [
                    {{for a in avg:}}
                        '{{=a[0]}}',
                    {{pass}}
                ],
                labels: {
                    align: 'right',
                    style: {
                        fontSize: '12px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Promedio'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Promedio: <b>{point.y:.1f}</b>',
            },
            series: [{
                name: 'Promedio',
                data: [
                        {{for a in avg:}}
                            {{=a[1]}},
                        {{pass}}
                       ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
</script>