{{extend 'dashboard.html'}}
<div class="mt-4">
    <div class="col-12 text-center">
        <h1>Consultas</h1>
    </div>
    <div class="col-12 mt-4">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#data{{=1}}" data-toggle="tab">
                            Estudiantes Asignados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#data{{=2}}" data-toggle="tab">
                            Instituciones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#data{{=3}}" data-toggle="tab">
                            Estudiantes
                        </a>
                    </li>        
             </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="data{{=1}}">
                    {{=LOAD('eps', 'sqlform_grid_students', ajax=True)}}
                </div>
                <div class="tab-pane" id="data{{=2}}">
                    {{=LOAD('eps', 'sqlform_grid_institutions', ajax=True)}}
                </div>
                <div class="tab-pane" id="data{{=3}}">
                    {{=LOAD('eps', 'sqlform_grid_all_students', ajax=True)}}
                </div>        
            </div>
        </div>
    </div>
</div>