<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="43200"/>
    {{if school == 'ecys':}}
        {{include 'schools/ecys/head.html'}}  
    {{elif school == 'emi':}}
        {{include 'schools/emi/head.html'}}         
    {{pass}}
    <link rel="icon" type="image/x-icon" href="/static/build/images/{{=school}}/favicon.ico">
    <link rel="stylesheet" href="/static/build/css/{{=school}}.css">
    {{include 'web2py_ajax.html'}}  
</head>
<body>
    {{if school == 'ecys':}}
        {{include 'schools/ecys/header.html'}}  
    {{elif school == 'emi':}}
        {{include 'schools/emi/header.html'}}         
    {{pass}}

    {{include}}

    {{if school == 'ecys':}}
        {{include 'schools/ecys/footer.html'}}  
    {{elif school == 'emi':}}
        {{include 'schools/emi/footer.html'}}         
    {{pass}}

    <script type="text/javascript">
        var _URLPERIOD_VARIABLE = "/cpfecys/admin/get_periodos_variables"
        var _URLPERIOD_SEMESTRE = "/cpfecys/admin/get_periodos_semestre"
        var _URLNOTIFICATION_NUMBER = "/notification/get_notification_number"
        var _URL_PERIODS = "/cpfecys/admin/get_periodos"
        var PERIODOS_VARIABLES;
        var PERIODOS_SEMESTRE;
        var periodo = "{{=request.vars['period']}}"
        var tipo_periodo = "{{=request.vars['tipo_periodo']}}"
    </script>
    <script src="{{=URL('static','build/js/jquery.js')}}"></script>
    <script src="{{=URL('static','build/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{=URL('static','build/js/web2py.js')}}"></script>
    <script src="{{=URL('static','build/js/web2py-bootstrap4.js')}}"></script>
    <script src="{{=URL('static','build/js/home-min.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap-toggle.min.js')}}"></script>
    {{if school == 'ecys':}}
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1&appId=255919408374225&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>  
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143827878-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-143827878-1');
    </script>    
    {{pass}}
    
    {{block page_js}}{{end page_js}}
    
</body>
</html>
