{{extend 'dashboard.html'}}
<div class="mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h2>GESTION DE PREGUNTAS FRECUENTES</h2>
                    <div class="table-responsive">
                        {{=opciones}}
                    </div>
                </div>
                <div class="card-body">
                    <center>
                        <h3>DEFINICIÓN DE PREGUNTA</h3>
                    </center>
                    {{=form_pregunta}}
                </div>
            </div>
        </div>
    </div>
</div>