<footer>
    <div class="container dttfooter">
        <div class="row">
            <div class="col-12 dttfooter__icons">
                <ul>
                    <li class="dttfooter__icons--li">
                        <a href="https://www.facebook.com/ecysFIUSAC" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="dttfooter__icons--li">
                        <a href="https://www.youtube.com/channel/UChkmANcgEhCqT4tRM70L7xg" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li class="dttfooter__icons--li">
                        <a href="https://portal.ingenieria.usac.edu.gt/" target="_blank"><i class="fa fa-university"></i></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Soporte y Asistencia <br />
                    <a href="mailto:soporte@dtt-ecys.org">soporte@emi.ingenieria.usac.edu.gt</a> <br />
                    Sistema de Seguimiento de la Escuela de Mecanica Industrial <br />
                    Facultad de Ingeniería - Universidad de San Carlos de Guatemala</p>
            </div>
        </div>
    </div>
</footer>