<header>
    <div class="dttheader">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="dttheader__logo">
                    <a class="navbar-brand" href="/">
                        <picture>
                            <source media="(min-width: 465px)" srcset="/static/build/images/emi/logo.png">
                            <img src="/static/build/images/emi/logo.png" alt="EMI">
                        </picture>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dttNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="dttNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/events">Eventos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Horarios
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/resources?r=10">Horario Clase</a>
                                <a class="dropdown-item" href="/resources?r=11">Horario Laboratorio</a>
                                <a class="dropdown-item" href="/resources?r=12">Horario DSI</a>
                                <a class="dropdown-item" href="/resources?r=13">Programa del Curso en PDF</a>
                                <a class="dropdown-item" href="/resources?r=15">Programa de laboratorio en PDF</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Recursos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/links">Enlaces</a>
                                <a class="dropdown-item" href="/files">Archivos</a>
                                <a class="dropdown-item" href="/reclutamiento_registro_nuevo/solicitar">Registro</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/user/login?_next=/home" target="blank">Inicio de sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="dttheader__hero">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <div class="dttheader__message">
                        <p>“Escuela de Ingeniería Mecánica Industrial”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>