<h2>Definición de categoría</h2>
<label>{{=T('Category')}}:</label>
<input class="string" type="text" value="" id="inp_categoria" style="width:240px;">
<label>{{=T('Grade')}}:</label>
<input class="string" type="text" value="" id="inp_nota" style="width:240px;">

<div align="justify">
    {{=T('Do you want that all the activities in this category will be averaged?')}}
</div>
<label>
    <div align="right">
        {{=T('Yes')}}
        <input type="checkbox" name="SG_check" id="SG_check">
        <span title="{{=T('If you do not select the checkbox, when you create activities you must enter the weight of each activity.')}}" class=" icon-question-sign"></span>  	
    </div>
</label>