{{extend 'dashboard.html'}}
<div class="mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h1>
                Parciales
                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">
                <span class="fa fa-question-circle"></span>
                </a>
            </h1>
        </div>
        <div class="col-12">
            {{=grid}}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">{{=T('Partials help')}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {{=T('In this area you can manage partial list of available activities.')}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>