{{extend 'dashboard.html'}}
{{import cpfecys}}

<div class="col-12 mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Registro de práctica final <small>{{=auth.user.username}}</small></h2>
            <h4>
                Información del estudiante
            </h4>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Datos del Estudiante</h5>
                <div class="card-body">
                    <div class="ml-3">
                        <ul>
                            <li>Estudiante: {{=auth.user.username}}</li>
                            <li>Nombres: {{=auth.user.first_name}}</li>
                            <li>Apellidos: {{=auth.user.last_name}}</li>
                        </ul>
                    </div>     
                </div>
              </div>
        </div>
        <div class="col-12 mt-4">
            <h3>Historial de asignaciones</h3>
            <div class="accordion mt-2" id="accordionEstudent">
                {{assignation_finished = False}}
                {{total_assignations = 0}}
                {{for item in assignations:}}
                    {{total_assignations += 1}}
                    {{if not item.user_project.assignation_ignored:}}
                        {{if item.user_project.assignation_status is not None:}}
                            {{if item.user_project.assignation_status.name == 'Successful':}}
                                {{assignation_finished = True}}
                            {{pass}}
                        {{pass}}
                    {{pass}}
                    <div class="card">
                        <div class="card-header" id="heading-i{{=item.user_project.id}}">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#i{{=item.user_project.id}}" aria-expanded="true" aria-controls="#i{{=item.user_project.id}}">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div>
                                                <strong>Nombre del proyecto:</strong>
                                                {{=item.project.name}}
                                            </div>
                                            <div>
                                                <strong>Área:</strong>
                                                {{=item.area_level.name}}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 text-right">
                                            <div>
                                                <strong>Inicio:</strong>
                                                {{=item.period_year.yearp}} - {{=T(item.period_year.period.name)}}
                                            </div>
                                            <div>
                                                <strong>Duración:</strong>
                                                {{=item.user_project.periods}} Semestres
                                            </div>
                                            <div>
                                                <strong>Estado:</strong>
                                                {{if cpfecys.assignation_is_locked(item.user_project):}}
                                                    <span class="label">
                                                        {{=T(str(item.user_project.assignation_status.name))}}
                                                    </span>
                                                {{else:}}
                                                    <span class="badge badge-success">Activa</span>
                                                {{pass}}
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                        </div>
                        <div id="i{{=item.user_project.id}}" class="collapse" aria-labelledby="heading-i{{=item.user_project.id}}" data-parent="#accordionEstudent">
                            <div class="card-body">
                                <div class="row-fluid reports">
                                    <div class="well span12">
                                        <h3>Reportes</h3>
                                        <div class="table-responsive">
                                            <table style="width:100%;" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="5">Información</th>
                                                        <th colspan="2">Estado aprobación</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Fecha de creción<br/>(Año-Mes-Día)</th>
                                                        <th>Fechas de entrega</th>
                                                        <th>Estado</th>
                                                        <th>Nota</th>
                                                        <th>Jefe inmediato</th>
                                                        <th>DTT</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{average_report_scoring = 0}}
                                                    {{average_report_scoring_general = 0}}
                                                    {{reports = item.user_project.report.select(
                                                                    db.report.created,
                                                                    db.report.status,
                                                                    db.report.score,
                                                                    db.report.min_score,
                                                                    db.report.never_delivered,
                                                                    db.report.teacher_comment,
                                                                    db.report.id,
                                                                    db.report.dtt_approval,
                                                                    db.report.report_restriction
                                                                )
                                                    }}
                                                    {{average_report_count = len(reports)}}
                                                    {{for report in reports:}}
                                                        {{restriction = db(db.report_restriction.id == report.report_restriction).select(
                                                                            db.report_restriction.name,
                                                                            db.report_restriction.start_date,
                                                                            db.report_restriction.end_date,
                                                                        ).first()
                                                        }}
                                                        <tr>
                                                            <td>{{=restriction.name}}</td>
                                                            <td>{{=report.created}}</td>
                                                            <td>{{=restriction.start_date}} - {{=restriction.end_date}}</td>
                                                            <td>{{=T(report.status['name'])}}</td>
                                                            <td>{{=report.score or 0}}</td>
                                                            <td>
                                                                {{if report.min_score is not None and report.score is not None:}}
                                                                    {{if report.score == report.min_score and report.min_score != 0 and report.min_score is not None:}}
                                                                        <span class="badge badge-warning">Aprobado con el mínimo</span>
                                                                    {{elif report.score > report.min_score:}}
                                                                        <span class="badge badge-success">Aprobado</span>
                                                                    {{elif report.min_score != 0 and report.min_score is not None:}}
                                                                        <span class="badge badge-danger">Reprobado</span>
                                                                        {{if report.never_delivered:}}
                                                                            Nunca entregado
                                                                        {{pass}}
                                                                    {{else:}}
                                                                        <span class="badge badge-info">Pendiente de calificación</span>
                                                                    {{pass}}
                                                                {{else:}}
                                                                    <span class="badge badge-info">Pendiente de calificación</span>
                                                                {{pass}}

                                                                {{if report.teacher_comment is not None:}}
                                                                    {{if len(report.teacher_comment) > 0:}}
                                                                        <div id="modal-comment-{{=report.id}}" class="modal hide fade modal-comment">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <h3>Comentario del docente</h3>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>{{=(report.teacher_comment)}}</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</a>
                                                                            </div>
                                                                        </div>
                                                                        <i class="teacher-comment icon-exclamation-sign" data-toggle="modal" data-target="#modal-comment-{{=report.id}}"
                                                                            data-placement="top"
                                                                            title="Click para ver comentario del docente">
                                                                        </i>
                                                                    {{pass}}
                                                                {{pass}}
                                                            </td>
                                                            <td>
                                                                {{if report.dtt_approval is None:}}
                                                                    <span class="badge badge-secondary">Pendiente</span>
                                                                {{elif report.dtt_approval is True:}}
                                                                    <span class="badge badge-success">Aprobado</span>
                                                                {{else:}}
                                                                    <span class="badge badge-danger">No aprobado</span>
                                                                {{pass}}
                                                            </td>
                                                            {{if report.score: average_report_scoring_general += report.score}}
                                                            {{if report.score and report.dtt_approval: average_report_scoring += report.score}}
                                                            <td>
                                                                <a class="btn btn-primary" href="{{=URL('student', 'report/view', vars=dict(report=report.id))}}">
                                                                    <span class="icon-eye-open"></span>
                                                                    Ver reporte
                                                                </a>
                                                                {{if not cpfecys.assignation_is_locked(item.user_project):}}
                                                                    {{if (report.status['name'] == 'Draft') or (report.status['name'] == 'Recheck') and is_indate_range(report):}}
                                                                        {{if report.dtt_approval is None or report.dtt_approval:}}
                                                                            <a class="btn btn-primary" href="{{=URL('student', 'report/edit', vars=dict(report=report.id))}}">
                                                                                <span class="icon-edit"></span>
                                                                                Editar reporte
                                                                            </a>
                                                                        {{pass}}
                                                                    {{pass}}
                                                                {{pass}}
                                                            </td>
                                                        </tr>
                                                    {{pass}}

                                                    {{if not cpfecys.assignation_is_locked(item.user_project):}}
                                                        {{cperiod_year = cpfecys.current_year_period()}}
                                                        {{for available_report in available_reports(cperiod_year).select():}}
                                                            {{if to_be_created(available_report, item.user_project):}}
                                                                <tr class="info">
                                                                    <td>{{=available_report.name}}</td>
                                                                    <td>Pendiente</td>
                                                                    <td>
                                                                        {{=f'{available_report.start_date} - {available_report.end_date}'}}
                                                                    </td>
                                                                    <td>Pendiente</td>
                                                                    <td>0</td>
                                                                    <td>
                                                                        <div class="badge badge-info">
                                                                            Pendiente de calificación
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="label">
                                                                            Pendiente
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-info" 
                                                                            href="{{=URL('student', 'report/create', vars=dict(assignation=item.user_project.id, report_restriction=available_report.id))}}">
                                                                            <span class="icon-plus"></span>
                                                                            Crear reporte
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {{pass}}
                                                        {{pass}}
                                                    {{pass}}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="span12">
                                            <div class="span6">
                                                <small>
                                                    <strong>Nota promedio:</strong>
                                                    {{if average_report_count > 0:}}
                                                        {{=round(average_report_scoring_general / average_report_count, 2)}}
                                                    {{else:}}
                                                        0
                                                    {{pass}}
                                                </small><br/>
                                                <small>
                                                    <strong>Nota promedio, reportes aprobados por DTT:</strong>
                                                    {{if average_report_count > 0:}}
                                                        {{=round(average_report_scoring / average_report_count, 2)}}
                                                    {{else:}}
                                                        0
                                                    {{pass}}
                                                </small>
                                            </div>
                                            <div class="span6"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 well">
                                        <h3>Entregables</h3>
                                        {{for pyear in assignation_range(item):}}
                                            <h5>{{=T(pyear.period.name)}} - {{=pyear.yearp}}</h5>
                                            <div class="table-responsive">
                                                <table style="width:100%;" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Creado (Año-Mes-Día)</th>
                                                            <th>Anulados previamente</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{for item_restriction in available_item_restriction(pyear, item).select(
                                                                                        db.item_restriction.id,
                                                                                        db.item_restriction.name,
                                                                                        db.item_restriction.item_type,
                                                                                        db.item_restriction.limit_days,
                                                                                        db.item_restriction.period
                                                                                    ):
                                                        }}
                                                            {{if restriction_project_exception(item_restriction.id, item.project).count() == 0:}}
                                                                <!--Iterated period is same as current-->
                                                                {{if cpfecys.current_year_period().id == pyear.id:}}
                                                                    {{instance = items_instance(item_restriction.id, item)}}
                                                                    {{if instance.count() > 0:}}
                                                                        {{instance = instance.select(
                                                                                        db.item.created,
                                                                                        db.item.item_restriction,
                                                                                        db.item.uploaded_file,
                                                                                        db.item.id,
                                                                                        db.item.is_active,
                                                                                        db.item.score,
                                                                                        db.item.min_score
                                                                                    ).first()
                                                                        }}
                                                                        <tr>
                                                                            <td>{{=item_restriction.name}}</td>
                                                                            <td>{{=T(instance.created.period.name)}} {{=instance.created.yearp}}</td>
                                                                            <td>
                                                                                {{for disabled in has_disabled_items(pyear, item_restriction.id, item).select(
                                                                                                        db.item.id,
                                                                                                        db.item.created,
                                                                                                        db.item.admin_comment
                                                                                                    ):}}
                                                                                    <div id="modal-disabled-{{=disabled.id}}" class="modal hide fade modal-comment">
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                                                &times;
                                                                                            </button>
                                                                                            <h3>Comentario admin</h3>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p>
                                                                                                {{=T(disabled.created.period.name)}} 
                                                                                                {{=disabled.created.yearp}}
                                                                                            </p>
                                                                                            <p>{{=disabled.admin_comment or 'Sin comentario'}}</p>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <i class="teacher-comment icon-exclamation-sign" data-toggle="modal"
                                                                                        data-target="#modal-disabled-{{=disabled.id}}"
                                                                                        data-placement="top"
                                                                                        title="Click para ver el comentario">
                                                                                    </i>
                                                                                {{pass}}
                                                                            </td>
                                                                            <td>
                                                                                {{if instance.item_restriction.item_type.name == "Activity":}}
                                                                                    {{if instance.done_activity:}}
                                                                                        <div class="badge badge-info">
                                                                                            Completado
                                                                                        </div>
                                                                                    {{pass}}
                                                                                {{elif instance.item_restriction.item_type.name == "Grade Activity":}}
                                                                                    {{label = 'important'}}
                                                                                    {{graded_info = 'Reprobado'}}
                                                                                    {{if instance.score >= instance.min_score:}}
                                                                                        {{label = 'success'}}
                                                                                        {{graded_info = 'Aprobado'}}
                                                                                    {{pass}}
                                                                                    <div class="badge badge-{{=label}}">
                                                                                        Nota: {{=instance.score or 0}},
                                                                                        {{=graded_info}}
                                                                                    </div>
                                                                                {{else:}}
                                                                                    {{if instance.uploaded_file:}}
                                                                                        <!-- Inicio - Prácticas Finales(DS) - Fernando Reyes -->
                                                                                        {{signed_file = get_signed_file(instance.id)}}
                                                                                        {{if signed_file is None:}}
                                                                                            <a class="btn btn-primary" href="{{=URL('cpfecys/student', 'download', instance.uploaded_file)}}">
                                                                                                <span class="icon-eye-open"></span>
                                                                                                Ver item
                                                                                            </a>
                                                                                        {{else:}}
                                                                                            <a class="btn btn-primary" href="{{=URL('student', 'download_deliverable', args=[signed_file])}}">
                                                                                                <span class="icon-eye-open"></span>
                                                                                                Ver item
                                                                                            </a>
                                                                                        {{pass}}
                                                                                        <!-- Fin - Prácticas Finales(DS) - Fernando Reyes -->
                                                                                    {{pass}}
                                                                                    {{if not cpfecys.assignation_is_locked(item.user_project):}}
                                                                                        {{if instance.created == cyear_period:}}
                                                                                            <a href="{{=URL('student', 'item/edit', vars=dict(
                                                                                                                period=cyear_period.id,
                                                                                                                restriction=item_restriction.id,
                                                                                                                assignation=item.user_project.id,
                                                                                                                item=instance.id)
                                                                                                        )}}" class="btn btn-primary">
                                                                                                <span class="icon-edit"></span>
                                                                                                Editar item
                                                                                            </a>
                                                                                        {{pass}}
                                                                                    {{pass}}
                                                                                {{pass}}
                                                                                {{if instance.is_active != True:}}
                                                                                    <div class="badge badge-danger">
                                                                                        Rechazado por DTT
                                                                                    </div>
                                                                                {{pass}}
                                                                            </td>
                                                                        </tr>
                                                                    {{else:}}
                                                                        {{if not cpfecys.assignation_is_locked(item.user_project) and restriction_in_limit_days(item_restriction.limit_days):}}
                                                                            <tr>
                                                                                <td>{{=item_restriction.name}}</td>
                                                                                {{if item_restriction.item_type.name == "Activity" or item_restriction.item_type.name == "Grade Activity":}}
                                                                                    <td>Pendiente de calificación</td>
                                                                                    <td></td>
                                                                                    <td>
                                                                                        Ninguna, la calificación esta en proceso, si usted cumple/cumplió con esta actividad su nota aparecerá aquí
                                                                                    </td>
                                                                                {{else:}}
                                                                                    <td>
                                                                                        <div class="badge badge-info">
                                                                                            Pendiente, Último día:
                                                                                            {{=calculate_last_day(item_restriction.limit_days)}}
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        {{for disabled in has_disabled_items(pyear, item_restriction.id, item).select(db.item.id, db.item.created, db.item.admin_comment):}}
                                                                                            <div id="modal-disabled-{{=disabled.id}}" class="modal hide fade modal-comment">
                                                                                                <div class="modal-header">
                                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                                                        &times;
                                                                                                    </button>
                                                                                                    <h3>Comentario del admin</h3>
                                                                                                </div>
                                                                                                <div class="modal-body">
                                                                                                    <p>
                                                                                                        {{=T(disabled.created.period.name)}} 
                                                                                                        {{=disabled.created.yearp}}
                                                                                                    </p>
                                                                                                    <p>{{=disabled.admin_comment or 'Sin comentario'}}</p>
                                                                                                </div>
                                                                                                <div class="modal-footer">
                                                                                                    <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</a>
                                                                                                </div>
                                                                                            </div>
                                                                                            <i class="teacher-comment icon-exclamation-sign" data-toggle="modal"
                                                                                                data-target="#modal-disabled-{{=disabled.id}}"
                                                                                                data-placement="top"
                                                                                                title="Click para ver el comentario"></i>
                                                                                        {{pass}}
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="{{=URL('student', 'item/create', vars=dict(
                                                                                                        restriction=item_restriction.id,
                                                                                                        assignation=item.user_project.id,
                                                                                                        period=pyear.id, 
                                                                                                        proyect=item.project.area_level)
                                                                                                )}}" class="btn btn-primary">
                                                                                            <span class="icon-plus"></span>
                                                                                            Crear item
                                                                                            <small>{{=item_restriction.name}}</small>
                                                                                        </a>
                                                                                    </td>
                                                                                {{pass}}
                                                                            </tr>
                                                                        {{else:}}
                                                                            <tr>
                                                                                <td>{{=item_restriction.name}}</td>
                                                                                <td>
                                                                                    <div class="badge badge-danger">
                                                                                        Fallido, el último día era:
                                                                                        {{=calculate_last_day(item_restriction.limit_days)}}
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    {{for disabled in has_disabled_items(pyear, item_restriction.id, item).select(db.item.id, db.item.created, db.item.admin_comment):}}
                                                                                        <div id="modal-disabled-{{=disabled.id}}" class="modal hide fade modal-comment">
                                                                                            <div class="modal-header">
                                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                                                    &times;
                                                                                                </button>
                                                                                                <h3>Comentario del admin</h3>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                <p>
                                                                                                    {{=T(disabled.created.period.name)}} 
                                                                                                    {{=disabled.created.yearp}}
                                                                                                </p>
                                                                                                <p>{{=disabled.admin_comment or 'Sin comentario'}}</p>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <i class="teacher-comment icon-exclamation-sign" data-toggle="modal"
                                                                                            data-target="#modal-disabled-{{=disabled.id}}" data-placement="top"
                                                                                            title="Click para ver el comenatrio del admin">
                                                                                        </i>
                                                                                    {{pass}}
                                                                                </td>
                                                                                <td>
                                                                                    <div  class="badge badge-danger">
                                                                                        No hay acciones disponibles
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {{pass}}
                                                                    {{pass}}
                                                                {{else:}}
                                                                    <!--Iterated period is different as current-->
                                                                    {{if pyear.id > item_restriction.period:}}
                                                                        {{instance = get_item(item_restriction, item)}}
                                                                        {{if instance.count() > 0:}}
                                                                            {{instance = instance.select(db.item.created, db.item.id, db.item.uploaded_file).first()}}
                                                                            {{if item_restriction.name != "Horario Clase" and item_restriction.name != "Horario DSI(104)" and item_restriction.name != "Asistencia DSI(104)":}}
                                                                                <tr>
                                                                                    <td>{{=item_restriction.name}}</td>
                                                                                    <td>
                                                                                        {{=T(instance.created.period.name)}} {{=instance.created.yearp}}
                                                                                    </td>
                                                                                    <td></td>
                                                                                    <td>
                                                                                        <!-- Inicio - Prácticas Finales(DS) - Fernando Reyes -->
                                                                                        {{signed_file = get_signed_file(instance.id)}}
                                                                                        {{if signed_file is None:}}
                                                                                            <a class="btn btn-primary xx" href="{{=URL('cpfecys/student', 'download', instance.uploaded_file)}}">
                                                                                            <span class="icon-eye-open"></span>
                                                                                            Ver item
                                                                                            </a>
                                                                                        {{else:}}
                                                                                            <a class="btn btn-primary xx" href="{{=URL('student', 'download_deliverable', args=[signed_file])}}">
                                                                                            <span class="icon-eye-open"></span>
                                                                                            Ver item
                                                                                            </a>
                                                                                        {{pass}}
                                                                                        <!-- Fin - Prácticas Finales(DS) - Fernando Reyes -->
                                                                                    </td>
                                                                                </tr>
                                                                            {{pass}}
                                                                        {{else:}}
                                                                            <tr>
                                                                                <td>{{=item_restriction.item_restriction.name}}</td>
                                                                                <td>
                                                                                    <div class='badge badge-danger'>
                                                                                        Entregable fallido
                                                                                    </div>
                                                                                </td>
                                                                                <td></td>
                                                                                <td>
                                                                                    <div class='badge badge-danger'>
                                                                                        Sin acciones disponibles
                                                                                    </div>
                                                                                </td>
                                                                            </tr> 
                                                                        {{pass}}
                                                                    {{pass}}
                                                                {{pass}}
                                                            {{pass}}
                                                        {{pass}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {{pass}}
                                    </div>
                                </div>
                                {{if cpfecys.assignation_is_locked(item.user_project):}}
                                    <div class="row-fluid">
                                        <div class="span12 well">
                                            <h3>
                                                Estado de la asignación: 
                                                <span class="label">
                                                    {{=T(str(item.user_project.assignation_status.name))}}
                                                </span>
                                            </h3>
                                            {{if item.user_project.assignation_comment is not None:}}
                                                {{=item.user_project.assignation_comment}}
                                            {{pass}}
                                        </div>
                                    </div>
                                {{pass}}
                        
                            </div>
                        </div>
                    </div>
                {{pass}}
            </div>
            <div class="col-12 mt-4 mb-4">          
                {{if assignation_finished and (total_assignations > 0):}}
                    <div>
                        <h2>Generar certificado de práctica final</h2>
                        <a class="btn btn-success" target="_blank" href="{{=URL('certificate', 'index.pdf', vars=dict(user=auth.user.id) )}}">Generar certificado</a>
                    </div>
                {{pass}}              
            </div>
        </div>
    </div>
</div>

{{block page_js}}
<script type="text/javascript">
    $(function(){
        $('.teacher-comment').tooltip();
    })
</script>
{{end page_js}}