{{extend 'dashboard.html'}}
<div class="mt-4">
	<div class="col-12">
		<div class="row-fluid">
			<div class="row">
				<div class="col-12">
					{{if auth.has_membership('Super-Administrator') or (auth.has_membership('Ecys-Administrator') & ecys_var):}}
						<div  style="overflow:auto;" class="well text-center">
					{{else:}}
						<div  class="text-center">
					{{pass}}
						{{if auth.has_membership('Super-Administrator') or (auth.has_membership('Ecys-Administrator') & ecys_var):}}
							<h2>Control academico</h2>
							<h3>{{=f"{T(periodo.period.name)} {periodo.yearp}"}}</h3>
						{{else:}}
							<h2>Crear evaluación</h2>
							<h3>{{=f"{T(periodo.period.name)} {periodo.yearp}"}}</h3>
						{{pass}}
					</div>
				</div>
				
				<div class="col-12">
					{{=back_button}}<br><br>
					<div class="card" style="width: 18rem;">
						<div class="card-header">
							<h5 class="card-title">Ingrese un nombre para prueba</h5>
						</div>
						<div class="card-body">	  
							<textarea id="txtTitulo" class="estilotextarea2 form-control" cols="1" rows="1"></textarea>
						</div>
					</div>
				</div>
				<div class="col-12 well mt-4">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Agregar pregunta al cuestionario</h5>
								  </div>
								<div class="card-body">	  
									<form>
										<input type="hidden" id="userid" name="{{=auth.user.id}}">
										<input type="hidden" id="project_id" name="{{=project.project_id}}">
										<input type="hidden" id="period_id" name="{{=id_periodo_c}}">
										<input type="hidden" id="id_project" name="{{=id_project}}">
										<ol id="contenedorDePreguntas" class="list-group list-group-flush">
										</ol>
									</form>
								</div>
							  </div>
						</div>
					</div>
					<div class="well" id="div_seleccionar_tipo_pregunta">
						<button id="btAddTipo1" type="button" class="btn btn-success">+ Opción múltiple</button>
						<button id="btAddTipo2" type="button" class="btn btn-info">+ Falso/Verdadero</button>
						<button id="btAddTipo3" type="button" class="btn btn-warning">+ Respuesta corta</button>
					</div>
					<button id="btnContinuar" class="btn btn-large btn-primary" type="button"><i class="icon-circle-arrow-right icon-white icon-large"></i> Continuar</button>
				</div>
			</div>			
		</div>
	</div>
</div>

{{block page_js}}
<script type="text/javascript" src="{{=URL('static','js/quiz-js/quiz.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/quiz-js/super.js')}}"></script>
<script type="text/javascript">
	var idp = 1;
	var idr = 1;
	var respuesta;
	var preguntas = [];
	var preguntasObj = new Array();
	
	function GetID() { idp += 1; }
	function GetIDR() { idr += 1; }
</script>
{{end page_js}}