{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="mt-4">
            <div class="col-12 mt-4">
                <h2>PASO 2: Recuperación de password sin datos actualizados</h2>
            </div>
            <div class="col-12 mt-5">
                {{ session.flash = T('Email sent')}}
                Hola, <b>{{=FullName}}</b>              
            </div>
            <div class="col-12 mt-5">
                {{=MessageHead}}
                <b>{{=MessageMiddle}}</b>
                {{=MessageFinal}}
            </div>
        </div>
    </div>
</div>



