{{extend 'dashboard.html'}}

<div class="row">
    <div class="col-12 text-center mt-5">
        <div class="image_outer_container">
            <div class="image_inner_container">
                {{if session.auth.user.photo != None:}}
                    <img id="img_img" src="{{=URL('default/download', session.auth.user.photo)}}" alt="User">
                {{else:}}
                    <img id="img_img" src="/static/build/images/autoridades/humn.png" alt="No photo">
                {{pass}}
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <h1>{{=session.auth.user.first_name}} {{=session.auth.user.last_name}}</h1>
    </div>
    <div class="col-12 col-md-6 text-center m-auto">
        {{if auth.has_membership('Academic') or auth.has_membership('Student'):}}
            {{review = db((db.photo_review.user_id == auth.user.id)).select().first()}}
            {{if review is None:}}
                <div class="alert alert-warning" role="alert">
                    <div class="dtt__title--photo">
                    <strong>Foto pendiente de revision</strong>
                    </div>
                    <div class="dtt__title-comment">
                        {{=T('Your photo has not been reviewed. Please contact an academic tutor to be accepted.')}}
                    </div>
                </div>
            {{else:}}
                {{if review.accepted == False:}}
                    <div class="alert alert-danger" role="alert">
                        <div class="dtt__title--photo">
                        <strong>{{=T('Photo Rejected')}}</strong> 
                        </div>
                        <div class="dtt__title-comment">
                            {{=T('Remember that photography is for academic use; therefore must be commensurate with the seriousness of the case, otherwise it will be blocked.')}}
                        </div>
                    </div>
                {{pass}}
            {{pass}}         
        {{pass}}
    </div>
</div>