{{extend 'layout.html'}}

<div class="container d-flex justify-content-center">
    <div class="row mt-4">
        <div class="col-12 text-center">
            <table style="background-color:#e3ecec">
                <tr>
                    <td>
                        <h3>
                            <img src="{{=ruta_iconos}}/list.png">
                            2. Verificación de información
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="color: #696969;">
                            <b>Correo electrónico</b>
                        </label>
                        {{=form}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>