<!-- Inicio - Prácticas Finales(Lingüistica) - José Carlos I Alonzo Colocho -->
{{extend 'dashboard.html'}}

<br />

<div class="col-12 text-center">
  <h1>Roles para documentos ECYS</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{=URL('admin', 'documents_roles')}}">Roles</a>
    </li>
    {{if action['type'] == 'new':}}
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{=URL('admin', 'documents_roles', args=['new'])}}">Nuevo</a>
    </li>
    {{elif action['type'] == 'show':}}
    <li class="breadcrumb-item active" aria-current="page">
      <a
        href="{{=URL('admin', 'documents_roles', args=['show'], vars={'id': action['item']['id']})}}"
        >Ver</a
      >
    </li>
    {{elif action['type'] == 'edit':}}
    <li class="breadcrumb-item active" aria-current="page">
      <a
        href="{{=URL('admin', 'documents_roles', args=['edit'], vars={'id': action['item']['id']})}}"
        >Editar</a
      >
    </li>
    {{ elif action['type'] == 'members': }}
    <li class="breadcrumb-item active" aria-current="page">
      <a
        href="{{=URL('admin', 'documents_roles', args=['members'], vars={'id': action['item']['id']})}}"
        >Miembros</a
      >
    </li>
    {{ elif action['type'] == "members_new": }}
    <li class="breadcrumb-item active" aria-current="page">
      <a
        href="{{=URL('admin', 'documents_roles', args=['members'], vars={'id': action['item']['id']})}}"
        >Miembros</a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a
        href="{{=URL('admin', 'documents_roles', args=['members_new'], vars={'id': action['item']['id']})}}"
        >Nuevo miembro</a
      >
    </li>
    {{ pass }}
  </ol>
</nav>

{{ if action['type'] == "list": }}
<div class="row">
  <div class="col-md-4">
    <a href="{{=URL('admin', 'documents_roles',args=['new'])}}">
      <button class="btn btn-primary">
        <span class="icon plus icon-plus glyphicon glyphicon-plus"></span>
        &nbsp;Añadir Registro
      </button>
    </a>
  </div>
</div>
{{ if "message" in action: }}
<br />
<div class="alert alert-danger alert-dismissible" role="alert">
  <strong>¡Error!</strong>&nbsp;{{=action['message']}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{pass}}
<div class="mt-4">
  <div class="col-12">
    <div style="overflow-x: auto" class="row-fluid">
      <table class="table table-sm table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ for role in action['list']: }}
          <tr>
            <td>{{=role['id']}}</td>
            <td>{{=role['name'].encode("utf-8")}}</td>
            <td>{{=role['description'].encode("utf-8")}}</td>
            <td>
              <div class="btn-group">
                <a
                  href="{{=URL('admin', 'documents_roles',args=['members'], vars={'id': role['id']})}}"
                >
                  <button class="btn btn-warning btn-sm">
                    <i class="fa fa-fw fa fa-users"></i>
                    &nbsp;Miembros
                  </button></a
                >
                <a
                  href="{{=URL('admin', 'documents_roles',args=['show'], vars={'id': role['id']})}}"
                >
                  <button class="btn btn-secondary btn-sm">
                    <span
                      class="icon magnifier icon-zoom-in glyphicon glyphicon-arrow-zoom-in"
                    ></span>
                    &nbsp;Vista
                  </button></a
                >
                <a
                  href="{{=URL('admin', 'documents_roles',args=['edit'], vars={'id': role['id']})}}"
                >
                  <button class="btn btn-success btn-sm">
                    <span
                      class="icon pen icon-pencil glyphicon glyphicon-arrow-pencil"
                    ></span>
                    &nbsp;Editar
                  </button></a
                >
                <a
                  href="{{=URL('admin', 'documents_roles',args=['delete'], vars={'id': role['id']})}}"
                >
                  <button class="btn btn-danger btn-sm">
                    <span
                      class="icon trash icon-trash glyphicon glyphicon-trash"
                    ></span>
                    &nbsp;Eliminar
                  </button></a
                >
              </div>
            </td>
          </tr>
          {{pass}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ elif action['type'] == 'members': }}
<div class="row">
  <div class="col-md-4">
    <a
      href="{{=URL('admin', 'documents_roles', args=['members_new'], vars={'id': action['item']['id']})}}"
    >
      <button class="btn btn-primary">
        <span class="icon plus icon-plus glyphicon glyphicon-plus"></span>
        &nbsp;Añadir Registro
      </button>
    </a>
  </div>
</div>
{{ if "message" in action: }}
<div class="alert alert-danger alert-dismissible" role="alert">
  <strong>¡Error!</strong>&nbsp;{{=action['message']}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{pass}}
<div class="mt-4">
  <div class="col-12">
    <div class="row-fluid">
      <table class="table table-sm table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th colspan="5" class="text-center">
              Usuarios del rol: {{=action['item']['name'].encode("utf-8")}}
            </th>
          </tr>
          <tr>
            <th>Id</th>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ for user in action['users']: }}
          <tr>
            <td>{{=user['id']}}</td>
            <td>{{=user['username'].encode("utf-8")}}</td>
            <td>{{=user['first_name'].encode("utf-8")}}</td>
            <td>{{=user['last_name'].encode("utf-8")}}</td>
            <td>
              <div class="btn-group">
                <a
                  href="{{=URL('admin', 'documents_roles',args=['members_delete'], vars={'user': user['id'], 'role': action['item']['id']})}}"
                >
                  <button class="btn btn-danger btn-sm">
                    <span
                      class="icon trash icon-trash glyphicon glyphicon-trash"
                    ></span>
                    &nbsp;Eliminar
                  </button>
                </a>
              </div>
            </td>
          </tr>
          {{pass}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ else: }}
<div class="mt-4">
  <div class="col-12">
    <div class="row">
      <div class="col-6 well">
        {{ if "message" in action: }}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <strong>¡Error!</strong>&nbsp;{{=action['message']}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{pass}} {{if action['type'] == 'new':}}
        <form
          action="{{=URL('admin', 'documents_roles', args=['new'])}}"
          method="POST"
        >
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label"
              >Nombre</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="inputName"
                name="inputName"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputExtension" class="col-sm-3 col-form-label"
              >Descripcion</label
            >
            <div class="col-sm-9">
              <textarea
                type="text"
                class="form-control"
                id="inputDescription"
                name="inputDescription"
                required
              ></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {{elif action['type'] == 'show':}}
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              value="{{=action['item']['name'].encode('utf-8')}}"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputExtension" class="col-sm-3 col-form-label"
            >Descripción</label
          >
          <div class="col-sm-9">
            <textarea type="text" readonly class="form-control-plaintext">
{{=action['item']['description'].encode('utf-8')}}</textarea
            >
          </div>
        </div>
        <a href="{{=URL('admin', 'documents_roles')}}">
          <button class="btn btn-primary">
            <span class="fa fa-arrow-circle-left"></span>
            &nbsp;Regresar
          </button>
        </a>
        {{elif action['type'] == 'edit':}}
        <form
          action="{{=URL('admin', 'documents_roles', args=['edit'], vars={'id': action['item']['id']})}}"
          method="POST"
        >
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="name"
                value="{{=action['item']['name'].encode('utf-8')}}"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label"
              >Descripción</label
            >
            <div class="col-sm-9">
              <textarea type="text" class="form-control" name="description">
{{=action['item']['description'].encode('utf-8')}}</textarea
              >
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {{ elif action['type'] == 'members_new': }}
        <form
          action="{{=URL('admin', 'documents_roles', args=['members_new'], vars={'id': action['item']['id']})}}"
          method="POST"
        >
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label"
              >Usuario para el rol de: &nbsp;
              {{=action['item']['name'].encode("utf-8")}}</label
            >
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Usuarios</label>
            <div class="col-sm-9">{{=action['users_form']}}</div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {{pass}}
      </div>
    </div>
  </div>
</div>
{{ pass }}

<style>
  .btn-group,
  .btn-group-vertical {
    display: inline-block;
  }
  .table td,
  .table th {
    vertical-align: middle;
  }
</style>

<!-- Fin - Prácticas Finales(Lingüistica) - José Carlos I Alonzo Colocho -->
