{{extend 'dashboard.html'}}
<div class="mt-4">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Restricciones de reportes</h1>
    </div>
    <div class="col-12 mt-3">
      <input
        id="chkTipoCursoA"
        type="checkbox"
        checked
        data-toggle="toggle"
        data-on="Semestres"
        data-off="Periodos"
        data-size="mini"
      />
    </div>
    <div class="col-12">{{=grid}}</div>
  </div>
</div>
{{block page_js}}
<script type="text/javascript">
  //var nameReport = document.getElementById('report_restriction_name').value;
  var nameReport = "";
  var contentReport = "<select class=\"generic-widget form-control\" id=\"report_restriction_name\" name=\"name\">";
  {{if cpfecys.current_year_period().period == 1:}}
  	if (nameReport!="")
  		contentReport = contentReport + "<option value=\""+nameReport+"\">"+nameReport+"</option>";
  	if (nameReport!="Reporte Enero {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Enero {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Enero {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Febrero {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Febrero {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Febrero {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Marzo {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Marzo {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Marzo {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Abril {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Abril {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Abril {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Mayo {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Mayo {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Mayo {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Final Primer Semestre {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Final Primer Semestre {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Final Primer Semestre {{=str(cpfecys.current_year_period().yearp)}}</option>";
  {{else:}}
  	if (nameReport!="")
  		contentReport = contentReport + "<option value=\""+nameReport+"\">"+nameReport+"</option>";
  	if (nameReport!="Reporte Junio {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Junio {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Junio {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Julio {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Julio {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Julio {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Agosto {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Agosto {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Agosto {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Septiembre {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Septiembre {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Septiembre {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Octubre {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Octubre {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Octubre {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Noviembre {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Noviembre {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Noviembre {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Diciembre {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Diciembre {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Diciembre {{=str(cpfecys.current_year_period().yearp)}}</option>";
  	if (nameReport!="Reporte Final Segundo Semestre {{=str(cpfecys.current_year_period().yearp)}}")
  		contentReport = contentReport + "<option value=\"Reporte Final Segundo Semestre {{=str(cpfecys.current_year_period().yearp)}}\">Reporte Final Segundo Semestre {{=str(cpfecys.current_year_period().yearp)}}</option>";
  {{pass}}
  contentReport = contentReport + "</select>";
  $("#report_restriction_name").replaceWith(contentReport);

     $('#chkTipoCursoA').change(function() {
          if($(this).prop('checked'))
          	document.location.href = "{{=URL('report_restrictions')}}"  //semestres
          else  document.location.href = "{{=URL('report_restrictions_period')}}"  //semestres
        });
</script>
{{end page_js}}
