<footer>
    <div class="container dttfooter">
        <div class="row">
            <div class="col-12 dttfooter__icons">
                <ul>
                    <li class="dttfooter__icons--li">
                        <a href="https://www.facebook.com/ecysFIUSAC" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="dttfooter__icons--li">
                        <a href="https://portal.ingenieria.usac.edu.gt/" target="_blank"><i class="fa fa-university"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Universidad de San Carlos de Guatemala uses Simio <a
                        href="https://www.simio.com/">simulation software</a> under a grant from Simio LLC (<a
                        href="https://www.simio.com/">www.simio.com</a>).</p>
                <p class="text-center">Soporte y Asistencia <br />
                    <a href="mailto:soporte@dtt-ecys.org">soporte@dtt-ecys.org</a> <br />
                    Sistema de Seguimiento de la Escuela de Ciencias y Sistemas <br />
                    Facultad de Ingeniería- Universidad de San Carlos de Guatemala</p>
            </div>
        </div>
    </div>
</footer>