<header>
    <div class="dttheader">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="dttheader__logo">
                    <a class="navbar-brand" href="/">
                        <picture>
                            <source media="(min-width: 465px)" srcset="/static/build/images/ecys/logo-ecys-fiusac-min.png">
                            <img src="/static/build/images/ecys/logo-ecys-fiusac-min.png" alt="Dtt ECYS">
                        </picture>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dttNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="dttNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Nosotros
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/about_us">Nosotros</a>
                                <a class="dropdown-item" href="/autorities">Autoridades</a>
                                <a class="dropdown-item" href="/profile_student">Perfil del Estudiante</a>
                                <a class="dropdown-item" href="/escuela">Escuela</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/magazine/public_edicion_revista">Revista ECYS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/events">Eventos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Horarios
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/resources?r=10">Horario Clase</a>
                                <a class="dropdown-item" href="/resources?r=11">Horario Laboratorio</a>
                                <a class="dropdown-item" href="/resources?r=12">Horario DSI</a>
                                <a class="dropdown-item" href="/resources?r=13">Programa del Curso en PDF</a>
                                <a class="dropdown-item" href="/resources?r=15">Programa de laboratorio en PDF</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Recursos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/links">Enlaces</a>
                                <a class="dropdown-item" href="/files">Archivos</a>
                                <a class="dropdown-item" href="/reclutamiento_registro_nuevo/solicitar">Registro</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Inicio de sesión
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/user/request_reset_password?_next=/"> ¿Olvido la contraseña?</a>
                                <a class="dropdown-item" href="/user/retrieve_username?_next=/"> ¿Olvido su nombre de usuario?</a>
                                <a class="dropdown-item" href="/user/login?_next=/home">Inicio de sesión</a>
                                <a class="dropdown-item" href="/bolsa_trabajo/suscripcion">Registrarse como empresa</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="dttheader__hero">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <div class="dttheader__message">
                        <p>“Aunque nuestra visión hacia adelante es muy corta, podemos darnos cuenta de que hay mucho por hacer”</p>
                        <p>Alan Turing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>