<section class="dttcontent__white">
    <div id="first" class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center dttcontent__container">
                <a href="/profile_student">
                    <div class="dttcontent__icon">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <p>Perfil del Estudiante</p>
                </a>
                
            </div>
            <div class="col-12 col-md-4 text-center dttcontent__container">
                <a href="/escuela">
                    <div class="dttcontent__icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>Escuela de Ciencias y Sistemas</p>
                </a>
            </div>
            <div class="col-12 col-md-4 text-center dttcontent__container">
                <a href="/about_us">
                    <div class="dttcontent__icon">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <p>Nosotros</p>
                </a>	
            </div>
        </div>
    </div>
</section>
<section class="dttcontent__grey">
    <div class="container dttcontent__news">
        <div class="row">
            <div class="col-12">
                <div id="dttCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/cpfecys/static/build/images/ecys/fiusac03.jpg" alt="">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="ja-ss-desc">
                                        <h3>Escuela de Ciencias y Sistemas</h3>
                                        <p>Facultad de Ingeniería - USAC</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{contadorF=0}}
                        {{for notification in range(len(front_notification)-1, -1, -1):}}
                            {{contadorF+=1}}
                                {{if front_notification[notification].visible:}}
                                    {{if front_notification[notification].promoted:}}
                                        <div class="carousel-item">
                                            {{if front_notification[notification].image_file is None or front_notification[notification].image_file == '': }}
                                            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
                                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                                aria-label="Placeholder: Second slide">
                                                <rect width="100%" height="100%" style="fill: #fc7204; fill-opacity:0"></rect>
                                            </svg>
                                            {{else:}}
                                            <img src="{{= URL('default/download', front_notification[notification].image_file)}}" alt="Notification" title="Notification" class=" w-100">
                                            {{pass}}
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <div class="dttContent__news--item">
                                                        <h3>{{=front_notification[notification].name}}</h3>
                                                        <p class="lead">{{=MARKMIN(front_notification[notification].content_text[:150], markmin_settings)}}
                                                        </p>
                                                        <a class="btn btn-large btn-primary"
                                                            href="{{=URL('default', 'notification', vars=dict(notification = front_notification[notification].id))}}">Ver</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{else:}}
                                        <div class="carousel-item">
                                            {{if front_notification[notification].image_file is None or front_notification[notification].image_file == '': }}
                                            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500"
                                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                                aria-label="Placeholder: Second slide">
                                                <rect width="100%" height="100%" style="fill: #fc7204; fill-opacity:0"></rect>
                                            </svg>
                                            {{else:}}
                                            <img src="{{= URL('default/download', front_notification[notification].image_file)}}" alt="Sample image" title="Sample image" class=" w-100">
                                            {{pass}}
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <div class="dttContent__news">
                                                        <h3>{{=front_notification[notification].name}}</h3>
                                                        <p class="lead">
                                                            {{=MARKMIN(front_notification[notification].content_text[:150], markmin_settings)}}
                                                        </p>
                                                        <a class="btn btn-large btn-primary"
                                                            href="{{=URL('default', 'notification', vars=dict(notification = front_notification[notification].id))}}">Ver</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{pass}}
                                {{pass}}
                        {{pass}}
                    </div>
                    <a class="carousel-control-prev" href="#dttCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#dttCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fbdttnoticias" class="dttcontent__white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Noticias</h1>
                <div class="separator">* * *</div>
            </div>
            <div class="col-12 col-md-6">
                <div id="fb-root"></div>
                <div class="fb-page" data-href="https://www.facebook.com/ecysFIUSAC" data-tabs="timeline,events,messages" 
                    data-small-header="false" data-width="500" data-height="600" data-adapt-container-width="true" data-hide-cover="false" 
                    data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/ecysFIUSAC" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/ecysFIUSAC">ECYS - USAC</a>
                        </blockquote>
                </div>
            </div>
            <div class="col-12 col-md-6 d-none d-sm-block">
                <div class="reproductor" data-id="wSy_P0pm14I"></div>
            </div>
        </div>
    </div>
</section>
<section id="magazineEcys" class="dttcontent__grey">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6  text-center">
                <div class="bd-example">
                    <div id="dttMagazine" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {{for art in db(db.magazine).select(orderby=~db.magazine.id, limitby=(0, 1)):}}
                                <a class="dttcontent__magazine-item" href="/magazine/public_edicion_revista">
                                    <img src="{{= URL('static/mgz_files', art.image_file)}}">
                                </a>
                                {{pass}}
                            </div>
                            <div class="carousel-item">
                                {{for art in db(db.magazine).select(orderby=~db.magazine.id, limitby=(1, 2)):}}
                                <a class="dttcontent__magazine-item" href="/magazine/public_edicion_revista">
                                    <img src="{{= URL('static/mgz_files', art.image_file)}}">
                                </a>
                                {{pass}}
                            </div>
                            <div class="carousel-item">
                                {{for art in db(db.magazine).select(orderby=~db.magazine.id, limitby=(2, 3)):}}
                                <a class="dttcontent__magazine-item" href="/magazine/public_edicion_revista">
                                    <img src="{{= URL('static/mgz_files', art.image_file)}}">
                                </a>
                                {{pass}}
                            </div>
                            <div class="carousel-item">
                                {{for art in db(db.magazine).select(orderby=~db.magazine.id, limitby=(3, 4)):}}
                                <a class="dttcontent__magazine-item" href="/magazine/public_edicion_revista">
                                    <img src="{{= URL('static/mgz_files', art.image_file)}}">
                                </a>
                                {{pass}}
                            </div>
                            <div class="carousel-item">
                                {{for art in db(db.magazine).select(orderby=~db.magazine.id, limitby=(4, 5)):}}
                                <a class="dttcontent__magazine-item" href="/magazine/public_edicion_revista">
                                    <img src="{{= URL('static/mgz_files', art.image_file)}}">
                                </a>
                                {{pass}}
                            </div>
                            <div class="carousel-item">
                                {{for art in db(db.magazine).select(orderby=~db.magazine.id, limitby=(5, 6)):}}
                                <a class="dttcontent__magazine-item" href="/magazine/public_edicion_revista">
                                    <img src="{{= URL('static/mgz_files', art.image_file)}}">
                                </a>
                                {{pass}}
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#dttMagazine" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#dttMagazine" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h1>Revista ECYS</h1>
                <div class="separator">* * *</div>
                <p>La realización de la revista digital para la Escuela de Ciencias y Sistemas de la Facultad de Ingeniería de la Universidad de San Carlos de Guatemala, inicia con el objetivo de crear un medio para la publicación del conocimiento que generan estudiantes, catedráticos y profesionales de Ciencias y Sistemas.</p>
                <p>La creación y publicación de la primera revista digital “Ciencias, Sistemas
                    y Tecnología”, de la Escuela de Ciencias y Sistema de la Facultad de
                    Ingeniería, de la Universidad de San Carlos de Guatemala, demuestra que
                    existen estudiantes, catedráticos y profesionales interesados en transmitir
                    su conocimiento, opiniones y experiencias, lo cual enriquece a toda la
                    comunidad educativa del país.</p>
            </div>
        </div>
    </div>
</section>
{{if db.executesql("SELECT COUNT(*) AS cantidad FROM bt_oferta_laboral as ofl WHERE seleccionada = 1 AND ofl.id_estado_oferta_laboral = 2 AND ofl.fecha_vigencia >= curdate() AND ofl.id_period_year in (SELECT MAX(id) AS id FROM period_year);", as_dict=True)[0]['cantidad'] > 0:}}
<section class="dttcontent__white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Bolsa de Trabajo</h1>
                <div class="separator">* * *</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="dttCarouselBT" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {{for idx, oferta in enumerate(db.executesql("SELECT ofl.puesto, ofl.banner FROM bt_oferta_laboral as ofl WHERE ofl.seleccionada = 1 AND ofl.id_estado_oferta_laboral = 2 AND ofl.fecha_vigencia >= curdate() AND ofl.id_period_year in (SELECT MAX(id) AS id FROM period_year);")):}}
                            {{if int(idx) == 0:}}
                            <li data-target="#dttCarouselBT" data-slide-to="{{=idx}}" class='active'></li>
                            {{else:}}
                            <li data-target="#dttCarouselBT" data-slide-to="{{=idx}}"></li>
                            {{pass}}
                        {{pass}}
                    </ol>
                        <div class="carousel-inner">
                        {{for idx, oferta in enumerate(db.executesql("SELECT ofl.puesto, ofl.banner FROM bt_oferta_laboral as ofl WHERE ofl.seleccionada = 1 AND ofl.id_estado_oferta_laboral = 2 AND ofl.fecha_vigencia >= curdate() AND ofl.id_period_year in (SELECT MAX(id) AS id FROM period_year);", as_dict=True)):}}
                            {{if int(idx) == 0:}}
                            <div class="carousel-item active">
                            {{else:}}
                            <div class="carousel-item">
                            {{pass}}
                            <img src="/cpfecys/static/bolsa_trabajo/ofertas/{{=oferta['banner']}}"
                                class="d-block w-100" alt="..." style="max-height: 590px; object-fit: contain;">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="ja-ss-desc">
                                    <h3>{{=oferta['puesto']}}</h3>
                                </div>
                            </div>
                        </div>
                        {{pass}}
                    </div>
                    <a class="carousel-control-prev" href="#dttCarouselBT" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#dttCarouselBT" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{pass}}